<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul>
        <% if (locals.filtered_users) {%>
          <% filtered_users.forEach(function(user) { %>
            <li>ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %> <%= user.email %> <%= user.age %> <%= user.bio %></li>
         
     
          <% }); %>
        <% } %>
      </ul>

    <a href="/">Back to home</a>
</body>
</html>